/* Variables Globales */
:root {
    --color-bg: #f6f4f4;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    font-weight: 800;
    background: var(--color-bg);
}

header {
    position: fixed;  /* fijo a la ventana */
    top: 0;           /* distancia desde la parte superior */
    left: 0;          /* opcional: inicio horizontal */
    width: 100%;      /* ocupa todo el ancho */
    background: #fff; /* fondo para que no se vea transparente */
    z-index: 1000;    /* para que quede sobre otros elementos */
    padding: 1rem;
    color: #C8102E;
    background: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 6rem 1rem;
}

.hero {
    display: flex;
    flex-direction: column; /* apila verticalmente */
    gap: 1rem;
    align-items:center; /* opcional: centra horizontalmente */
    /* font-size: 45px; */
    /* El texto nunca será menor a 1.5rem, 
     intentará medir el 5% del ancho de la pantalla (5vw), 
     y nunca será mayor a 4rem */
    font-size: clamp(2rem, 5vw, 3rem);
}

.hero h2 {
    color: #1A1C1C;
    text-align: start; /* opcional: centra el texto */
}

.hero .pregunta {
  color: rgba(0, 0, 0, 0.54);
  text-align: center; /* opcional: centra el texto */
}

.hero p {
    font-weight: 600;
    color: #5C403F;
    /* font-size: 24px; */
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.shop-info {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 8px 1rem;
    background: #F3F3F3; /* Un gris muy suave como el diseño */
    border-radius: 12px;
    margin-top: 1rem;
    font-weight: 600;
    font-size: clamp(0.8rem, 3vw, 1rem);
    background: rgba(219, 217, 217, 0.5);
}

.shop-info i {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.shop-info h3{
    color: #271717;
}

.shop-info .direction {
    color: rgba(39, 23, 23, 0.40);
}

.shop-info .btn-direction {
    font-weight: 600;
    text-decoration: underline;
    font-size: 12px;
    color: #8F0018;
    border: none;
    background: none;
    margin-left: auto;
    cursor: pointer;
}

.services .tabs {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1.5px solid #E8E8E8;
    overflow-x: auto; /* Permite deslizar los botones con el dedo */
    white-space: nowrap; /* Evita que los botones bajen de línea */
}

.tab-button {
    flex: 0 0 auto;
    color: #5F5E5E;
    background-color: #E8E8E8;
    border: none; /* borde invisible desde el inicio */
    border-radius: 8px;
    cursor: pointer;
    font-weight: 800;
    font-size: 14px;
    padding: 12px 32px;
    transition: all 0.3s ease;
}

.tab-button.active {
    color: #ffffff;
    background-color: #9E001F;
    border-color: #9E001F; /* borde coincide con fondo */
}

.tab-button:not(.active):hover {
    color: #ffffff;
    background-color: #9E001F;
    transform: scale(1.10);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.tabcontent {
  display: none;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-top: 1rem;
}

.service-card {
    cursor: pointer;
}

/* Entrada de cards */
.service-card {
  opacity: 0;
  transform: translateY(15px);
}

.service-card.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}

/* Animación al seleccionar */
.service-card-inner.selected {
  border: 2px solid #9E001F;
  box-shadow: 0 0 10px rgba(158, 0, 31, 0.4);
}

.service-card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    aspect-ratio: 1/1;
    background: #ffffff;
    border-radius: 12px;
    padding: 2rem;
    gap: 2rem;
    transition: all 0.2s ease;
}

.service-card-inner:hover {
  transform: scale(1.03);
}

/* Seleccionado */
.service-card-inner.selected {
  border: 2px solid #9E001F;
  box-shadow: 0 4px 10px rgba(158, 0, 31, 0.2);
}

/* Top */
.service-top {
  display: flex;
  justify-content: space-between;
}

.service-icon {
    font-size: 30px;
    color: #5C403F;
    background-color: #E8E8E8;
    padding: 25px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.service-card:hover .service-icon {
    color: #9E001F;
    background-color: #FFDAD8;
}

.service-card-inner.selected .service-icon {
  color: #9E001F;
  background-color: #FFDAD8;
}

/* Check */
.check {
  position: absolute;
  top: 20px;
  right: 20px;  
  font-size: 28px;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.2s ease;
}

.service-card-inner.selected .check {
  opacity: 1;
  transform: scale(1);
}

.service-description {
    display: flex;
    flex-direction: column;
    justify-items: start;
    gap: 5px;
}

.service-description h3 {
    font-weight: 700;
    font-size: 25px;
    color: #1A1C1C;
}

.service-description p {
    font-weight: 500;
    font-size: 18px;
    color: #5C403F;
}

.service-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-top: 1.5px solid #E8E8E8;
}

.service-price {
  font-weight: 600;
  font-size: 24px;
  color: #9E001F;
}

.service-timer {
  font-weight: 400;
  font-size: 20px;
  color: #5C403F;
}

.service-card:hover {
    border: 1px solid #9E001F;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgb(158, 0, 31)
}

.footer {
    position: fixed;  /* fijo a la ventana */
    display: flex;
    bottom: 0;           /* distancia desde la parte superior */
    left: 0;          /* opcional: inicio horizontal */
    width: 100%;      /* ocupa todo el ancho */
    background: #fff; /* fondo para que no se vea transparente */
    z-index: 1000;    /* para que quede sobre otros elementos */
    padding: 1.5rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden; /* Evita que se pueda hacer clic mientras es invisible */
    transform: translateY(100%); /* Empieza 20px más abajo */
    transition: all 0.4s ease-in-out;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -10px 20px rgba(0,0,0,0.10); /* Sombra hacia ARRIBA */
    border-top: 1px solid #f0f0f0;
}

.footer.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Sube a su posición original */
}

.info-summary h3 {
    font-weight: 400;
    font-size: 18px;
    color: #5C403F;
}

.info-summary p {
    font-weight: 700;
    font-size: 24px;
    color: #1A1C1C;
}


.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.action-buttons .cancel {
    cursor: pointer;
    font-weight: 700;
    border: none;
    color: #1A1C1C;
    padding: 1rem 2rem;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.action-buttons .cancel:hover {
    transform: scale(1.10);
    border: 0.5px solid #a5abab;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.action-buttons .cancel:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.action-buttons .continue {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    background: #9E001F;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.action-buttons .continue:hover {
    transform: scale(1.10);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.action-buttons .continue:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}